@font-face {
   font-family: 'Algeria One';
   font-display: swap;
   src: url('file:///Users/forwardx-1/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-09-05_161911/fonts/Algeria%20One/font.ttf');
}
